@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="text-center">
    <h1 class="display-4">Privacy Policy</h1>
    <p>This a demo web page for the candidate of EIP Quistionnare part B</p>
</div>
